body{
  background-color: black;
  color: white;
}
table{
  width: 100%;
  text-align: center;

}
tr{
 height: 80px;
}

table thead tr td {
  border: 1px solid white;
  padding: 10px;
}

.ele-row img{
  width: 40px;
}